# Firebase Configuration (Template)
VITE_FIREBASE_API_KEY=AIzaSyAv1UJBarTIYIUA31PGPVDonjiKxUwbVOs
VITE_FIREBASE_AUTH_DOMAIN=fadeinbox-bab5f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fadeinbox-bab5f
VITE_FIREBASE_STORAGE_BUCKET=fadeinbox-bab5f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=120789632278
VITE_FIREBASE_APP_ID=1:120789632278:web:37721cb48ce7e2b8afbc37

# Optional
GEMINI_API_KEY=
APP_URL=
